
.DS_Store
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/NoClutterPrefs
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/icons/icon.png
.theos/_/Library/MobileSubstrate/DynamicLibraries/NoClutter.plist
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/icons/icon@2x.png
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/banner@2x.png
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/NoClutter.dylib
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/Root.plist
.theos/build_session
.theos/_/Library/PreferenceLoader/Preferences/NoClutterPrefs.plist
.theos/last_package
.theos/obj/arm64/NoClutter.dylib.dSYM/Contents/Info.plist
.theos/obj/arm64/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/.stamp
.theos/obj/arm64/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Info.plist
.theos/obj/arm64/NoClutterPRootListController.m.63967293.o
.theos/obj/arm64/NoClutterPRootListController.m.63967293.Td
.theos/obj/arm64/Tweak.xm.58d93254.Td
.theos/obj/arm64/Tweak.xm.mm
.theos/obj/arm64e/NoClutter.dylib
.theos/obj/arm64/NoClutter.dylib.dSYM/Contents/Resources/DWARF/NoClutter.dylib
.theos/obj/arm64e/NoClutter.dylib.dSYM/Contents/Resources/DWARF/NoClutter.dylib
.theos/obj/arm64e/NoClutter.dylib.dSYM/Contents/Info.plist
.theos/obj/arm64e/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Info.plist
.theos/obj/arm64e/NoClutterPRootListController.m.f7503ff5.o
.theos/_/Library/PreferenceBundles/NoClutterPrefs.bundle/Info.plist
.theos/obj/arm64/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Resources/DWARF/NoClutterPrefs
.theos/obj/arm64/Tweak.xm.58d93254.o
.theos/obj/arm64e/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Resources/DWARF/NoClutterPrefs
.theos/obj/arm64e/Tweak.xm.1eac2c3a.o
.theos/obj/debug/.stamp
.theos/obj/debug/arm64/NoClutter.dylib.dSYM/Contents/Info.plist
.theos/obj/arm64e/Tweak.xm.mm
.theos/obj/arm64e/NoClutterPRootListController.m.f7503ff5.Td
.theos/fakeroot
.theos/obj/arm64/NoClutter.dylib
.theos/obj/arm64e/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/debug/arm64/NoClutter.dylib
.theos/obj/debug/arm64/NoClutter.dylib.dSYM/Contents/Resources/DWARF/NoClutter.dylib
.theos/obj/debug/arm64/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/NoClutterPRootListController.m.9df8ae7e.Td
.theos/obj/debug/arm64/NoClutterPRootListController.m.c63d577b.Td
.theos/obj/debug/arm64/Tweak.xm.459677ed.o
.theos/obj/debug/arm64/Tweak.xm.5aed83cb.Td
.theos/obj/arm64e/Tweak.xm.1eac2c3a.Td
.theos/obj/debug/arm64/NoClutterPRootListController.m.9df8ae7e.o
.theos/obj/debug/arm64/Tweak.xm.459677ed.Td
.theos/obj/debug/arm64e/NoClutter.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/debug/arm64e/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/debug/arm64e/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/NoClutter.dylib.dSYM/Contents/Resources/DWARF/NoClutter.dylib
.theos/obj/debug/arm64e/NoClutterPRootListController.m.e153b1f4.o
.theos/obj/debug/arm64e/NoClutterPRootListController.m.e153b1f4.Td
.theos/obj/debug/arm64e/NoClutter.dylib
*.o
*.Td
*.dylib
*.mm
.theos/obj/debug/NoClutterPrefs.bundle/icons/icon@2x.png
.theos/obj/debug/NoClutterPrefs.bundle/Info.plist
.theos/obj/debug/NoClutterPrefs.bundle/icons/icon.png
.theos/obj/debug/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/debug/NoClutterPrefs.bundle/Root.plist
.theos/obj/NoClutterPrefs.bundle/banner@2x.png
.theos/obj/NoClutterPrefs.bundle/Info.plist
.theos/obj/NoClutterPrefs.bundle/NoClutterPrefs
.theos/obj/NoClutterPrefs.bundle/icons/icon@2x.png
.theos/obj/NoClutterPrefs.bundle/icons/icon.png
.theos/obj/debug/arm64e/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Resources/DWARF/NoClutterPrefs
.theos/obj/debug/arm64/NoClutterPrefs.bundle/NoClutterPrefs
*.9
*.1
*.0
*.3
*.5
*.6
*.7
*.4
.theos/obj/NoClutterPrefs.bundle/Root.plist
.theos/obj/debug/NoClutterPrefs.bundle/banner@2x.png
.theos/obj/debug/arm64/NoClutterPrefs.bundle/NoClutterPrefs.dSYM/Contents/Resources/DWARF/NoClutterPrefs
*.deb
