Package: com.iamparsa.noclutter
Name: NoClutter
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Version: 1.1.7
Architecture: iphoneos-arm
Description: Hide elements that clutter iOS
Maintainer: Quix <3parsa3@gmail.com>
Author: Quix <3parsa3@gmail.com>
Section: Tweaks
