<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>BannerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @QuixThe2nd on Twitter</string>
			<key>action</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Join the Discord</string>
			<key>action</key>
			<string>discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via PayPal</string>
			<key>action</key>
			<string>paypal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Github</string>
			<key>action</key>
			<string>github</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>homebar</string>
			<key>label</key>
			<string>Hide Homebar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>breadcrumb</string>
			<key>label</key>
			<string>Hide Breadcrumbs</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>tablabel</string>
			<key>label</key>
			<string>Hide Tab Labels</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>scrollbar</string>
			<key>label</key>
			<string>Hide Scroll Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>separator</string>
			<key>label</key>
			<string>Hide Separator Lines</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>statusbar</string>
			<key>label</key>
			<string>Hide Full Status Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>ccstatusbar</string>
			<key>label</key>
			<string>Hide Status Bar in CC</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbtime</string>
			<key>label</key>
			<string>Hide Time</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbsignal</string>
			<key>label</key>
			<string>Hide Cellular Bars</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbwifi</string>
			<key>label</key>
			<string>Hide Wifi</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbcellular</string>
			<key>label</key>
			<string>Hide Cellular (Eg. 4G)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbbattery</string>
			<key>label</key>
			<string>Hide Battery</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbpill</string>
			<key>label</key>
			<string>Hide Pill</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbicons</string>
			<key>label</key>
			<string>Hide Icons (e.g VPN/Location)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>hsbackdrop</string>
			<key>label</key>
			<string>Hide Home Screen Backdrop</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>applabels</string>
			<key>label</key>
			<string>Hide App Labels</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>pagedots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>updatedots</string>
			<key>label</key>
			<string>Hide Update Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>betadots</string>
			<key>label</key>
			<string>Hide Beta Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>offloadedicon</string>
			<key>label</key>
			<string>Hide Offloaded Icon</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dock</string>
			<key>label</key>
			<string>Hide Dock</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dock_disable</string>
			<key>label</key>
			<string>Disable Dock (Like WhoNeedsDock)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dockbackground</string>
			<key>label</key>
			<string>Hide Dock Background</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>iconbadge</string>
			<key>label</key>
			<string>Hide Icon Badge</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>xdeletebutton</string>
			<key>label</key>
			<string>Hide x Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>editingdonebutton</string>
			<key>label</key>
			<string>Hide Editing Done Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>widgetfooter</string>
			<key>label</key>
			<string>Hide Widget Footer</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>todayview</string>
			<key>label</key>
			<string>Hide Today View</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>padlock</string>
			<key>label</key>
			<string>Hide LS Padlock</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>nofaceidglyph</string>
			<key>label</key>
			<string>Hide Face ID Glyph</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dnd</string>
			<key>label</key>
			<string>Hide Do Not Disturb Banner</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>ccbar</string>
			<key>label</key>
			<string>Hide CC Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>swipetext</string>
			<key>label</key>
			<string>Hide Swipe Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>quickactiontoggles</string>
			<key>label</key>
			<string>Hide Quick Action Toggles</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>cameraquickactiontoggles</string>
			<key>label</key>
			<string>Hide Camera Quick Action Toggle</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>torchquickactiontoggles</string>
			<key>label</key>
			<string>Hide Torch Quick Action Toggle</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>notificationcentertext</string>
			<key>label</key>
			<string>Hide "Notification Center" Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>nooldernotifications</string>
			<key>label</key>
			<string>Hide "No Older Notifications" Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safariclosetabbutton</string>
			<key>label</key>
			<string>Hide Close Tab Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safarisearchbg</string>
			<key>label</key>
			<string>Hide Search Background Color</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safarifavicon</string>
			<key>label</key>
			<string>Hide Favicon</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>foldertitle</string>
			<key>label</key>
			<string>Hide Folder Title</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>folderbackground</string>
			<key>label</key>
			<string>Hide Folder Background</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>folderblur</string>
			<key>label</key>
			<string>Hide Folder Blur</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>appswitcherheader</string>
			<key>label</key>
			<string>Hide Header (Icon and Label)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>appswitchericons</string>
			<key>label</key>
			<string>Hide Icons</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ads</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>twitterads</string>
			<key>label</key>
			<string>Hide Twitter Ads</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>redditads</string>
			<key>label</key>
			<string>Hide Reddit Ads</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>settingsarrow</string>
			<key>label</key>
			<string>Hide Settings Arrow</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbcellulartext</string>
			<key>label</key>
			<string>Hide Cellular Text (Eg. AT&amp;T)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>shuttersound</string>
			<key>label</key>
			<string>Disable Shutter Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>videoshuttersound</string>
			<key>label</key>
			<string>Disable Video Shutter Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>endvideoshuttersound</string>
			<key>label</key>
			<string>Disable End Video Shutter Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>NoKeyPressSound</string>
			<key>label</key>
			<string>Disable Typing Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>endlocksound</string>
			<key>label</key>
			<string>Disable Lock Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>chargesound</string>
			<key>label</key>
			<string>Disable Charge Sound</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2020 Quix (@QuixThe2nd)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Icon by @SimonPlaysRBLX</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Thank you @iCrazeiOS and @Jamie_Devvix</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Based on NoPadlock12 by Kurrt (@KurrtDev)</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoClutter</string>
</dict>
</plist>
