<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>BannerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>homebar_hide</string>
			<key>label</key>
			<string>Hide Homebar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>breadcrumb_hide</string>
			<key>label</key>
			<string>Hide Breadcrumbs</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>scrollbar_hide</string>
			<key>label</key>
			<string>Hide Scroll Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>separator_hide</string>
			<key>label</key>
			<string>Hide Separator Lines</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>tablabel_hide</string>
			<key>label</key>
			<string>Hide Tab Labels</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>statusbar_hide</string>
			<key>label</key>
			<string>Hide Full Status Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>ccstatusbar_hide</string>
			<key>label</key>
			<string>Hide Status Bar in CC</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbtime_hide</string>
			<key>label</key>
			<string>Hide Time</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbsignal_hide</string>
			<key>label</key>
			<string>Hide Cellular Bars</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbwifi_hide</string>
			<key>label</key>
			<string>Hide Wifi</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbcellular_hide</string>
			<key>label</key>
			<string>Hide Cellular (Eg. 4G)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbcellulartext_hide</string>
			<key>label</key>
			<string>Hide Cellular Text (Eg. AT&amp;T)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbbattery_hide</string>
			<key>label</key>
			<string>Hide Battery</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbvpn_hide</string>
			<key>label</key>
			<string>Hide VPN</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>sbpill_hide</string>
			<key>label</key>
			<string>Hide Pill</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide cellular text supports Optus, Optus Wi-Fi Calling, Telstra, Verizon, AT&amp;T, T-Mobile, Sprint, VIVACOM, vodafone UK, Digicell, TELIA, StaySafe Orange B, StayHome, #StayHome, Return Carefully. DM me on Twitter (@QuixThe2nd) to get other providers added.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>pagedots_hide</string>
			<key>label</key>
			<string>Hide Page Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>updatedots_hide</string>
			<key>label</key>
			<string>Hide Update Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>betadots_hide</string>
			<key>label</key>
			<string>Hide Beta Dots</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dock_hide</string>
			<key>label</key>
			<string>Hide Dock</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dockbackground_hide</string>
			<key>label</key>
			<string>Hide Dock Background</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>iconbadge_hide</string>
			<key>label</key>
			<string>Hide Icon Badge</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>xdeletebutton_hide</string>
			<key>label</key>
			<string>Hide x Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>editingdonebutton_hide</string>
			<key>label</key>
			<string>Hide Editing Done Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>widgetfooter_hide</string>
			<key>label</key>
			<string>Hide Widget Footer</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>padlock_hide</string>
			<key>label</key>
			<string>Hide LS Padlock</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>nofaceidglyph_hide</string>
			<key>label</key>
			<string>Hide Face ID Glyph</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>dnd_hide</string>
			<key>label</key>
			<string>Hide Do Not Disturb Banner</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>ccbar_hide</string>
			<key>label</key>
			<string>Hide CC Bar</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>swipetext_hide</string>
			<key>label</key>
			<string>Hide Swipe Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>quickactiontoggles_hide</string>
			<key>label</key>
			<string>Hide Quick Action Toggles</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>notificationcentertext_hide</string>
			<key>label</key>
			<string>Hide "Notification Center" Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>nooldernotifications_hide</string>
			<key>label</key>
			<string>Hide "No Older Notifications" Text</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>notificationcentertext_hide</string>
			<key>label</key>
			<string>Hide Clear Notifications Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safariclosetabbutton_hide</string>
			<key>label</key>
			<string>Hide Close Tab Button</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safarisearchbg_hide</string>
			<key>label</key>
			<string>Hide Search Background Color</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>safarifavicon_hide</string>
			<key>label</key>
			<string>Hide Favicon</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>foldertitle_hide</string>
			<key>label</key>
			<string>Hide Folder Title</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>folderbackground_hide</string>
			<key>label</key>
			<string>Hide Folder Background</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>folderblur_hide</string>
			<key>label</key>
			<string>Hide Folder Blur</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>appswitcherheader_hide</string>
			<key>label</key>
			<string>Hide Header (Icon and Label)</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>appswitchericons_hide</string>
			<key>label</key>
			<string>Hide Icons</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.iamparsa.noclutterprefs</string>
			<key>key</key>
			<string>settingsarrow_hide</string>
			<key>label</key>
			<string>Hide Settings Arrow</string>
			<key>PostNotification</key>
			<string>com.iamparsa.noclutterprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @QuixThe2nd on Twitter</string>
			<key>action</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Join the Discord</string>
			<key>action</key>
			<string>discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Github</string>
			<key>action</key>
			<string>github</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2020 Quix (@QuixThe2nd)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Icon by @SimonPlaysRBLX</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Thank you @iCrazeiOS and @Jamie_Devvix</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Based on NoPadlock12 by Kurrt (@KurrtDev)</string>
		</dict>
	</array>
	<key>title</key>
	<string>NoClutter</string>
</dict>
</plist>
